.home-first {
  background-image: url("../../assets/png/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: 1110px;
  position: relative;
  z-index: 3;
}
.first-planet-left {
  position: absolute;
  left: 0px;
  top: 124px;
}

.first-planet-right {
  position: absolute;
  right: 0px;
  top: 634px;
}
header {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: "SVN-Gotham Rounded";
  color: #f0f8ff;
  //   position: relative;
  //   z-index: 2;
  h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }
  img {
    width: 70%;
    max-width: 1400px;
  }
}
.scroll-icon-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   position: relative;
  //   z-index: 2;
  img {
    margin: auto;
  }
  p {
    font-family: "SVN-Gotham Rounded";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.vector-3 {
  top: 0px;
  max-width: 1920px;
  position: absolute;
  z-index: 1;
  height: 1320px;
}
.home-second {
  position: relative;
  background-image: url("../../assets/png/BG (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: 1296px;

  .second-planet-left {
    @extend .first-planet-left;
  }
}
.vector-1 {
  position: relative;
  width: 100%;
  top: -5px;
  z-index: 0;
  height: 250px;
}
.second-body-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.secod-body-left {
  width: 40%;
}

.bear-info {
  font-family: "SVN-Gotham Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  span {
    display: block;
    font-weight: 100;
    font-size: 20px;
  }
}
.second-body-right {
  width: 40%;
  padding-top: 150px;
}
.who-are-we-container {
  h2 {
    margin: 0px;
    width: 615px;
    font-family: "SVN-Gotham Rounded";
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    color: #ffffff;
  }
  p {
    @extend h2;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 140.62%;
    text-align: justify;
  }
}
.second-planet-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.home-third {
  max-width: 1920px;
  height: 1426px;
  background-image: url("../../assets/png/BG (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  img:nth-child(3) {
    margin-top: 50px;
  }
  img:nth-child(4) {
    margin-top: 50px;
  }
  img:nth-child(5) {
    margin-top: 50px;
  }
}
.third-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.home-fourth {
  background-image: url("../../assets/png/BG (3).png");
  max-width: 6858px;
  height: 1080px;
}

.home-fifth {
  background-image: url("../../assets/png/BG (4).png");
  max-width: 1920px;
  height: 3487px;
}
.fifth-header {
  @extend .third-header;
  img{
    margin: 50px 0px;
  }
}
.fifth-body-first{
  display: flex;
  justify-content: center;
}