.home-body {
  // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-first {
  background-image: url("../../assets/png/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 1110px;
  position: relative;
  z-index: 1;
    overflow: hidden;

}
.first-planet-left {
  position: absolute;
  left: 0px;
  top: 124px;
}

.first-planet-right {
  position: absolute;
  right: 0px;
  top: 504px;
}
header {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: "SVN-Gotham Rounded";
  color: #f0f8ff;
  //   position: relative;
  //   z-index: 2;
  h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }
  img {
    width: 70%;
  }
}
.scroll-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  img {
    margin: auto;
  }
  p {
    font-family: "SVN-Gotham Rounded";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.vector-3 {
  position: absolute;
  max-width: 1920px;
  width: 100%;
  top: 0px;
  z-index: 1;
  height: 1320px;
}
.animated-bears-container {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0px, 0px);
  transition: 1.5s;
}
.animated-bears {
  position: relative;
  z-index: 4;
  width: 90%;
  top: -400px;
}
.bears-none {
  display: flex;
  justify-content: center;
  transform: translate(0px, 580px);
  transition: 1s;
}
.home-second {
  position: relative;
  top: -223px;
  background-image: url("../../assets/png/BG-1011-v6.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 1296px;
  z-index: 2;
  display: flex;
  justify-content: center;
  .second-planet-left {
    @extend .first-planet-left;
  }
}
.second-body-container {
  padding-top: 350px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.second-body-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-body-right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.who-are-we-container {
  width: 90%;
  overflow-wrap: break-word;
  h2 {
    margin: 0px;
    font-family: "SVN-Gotham Rounded";
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    color: #ffffff;
  }
  p {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 140.62%;
    text-align: justify;
    font-family: "SVN-Gotham Rounded";
    color: #ffffff;
  }
}
.buttons-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  img {
    width: 45%;
    cursor: pointer;
  }
}
.second-planet-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.home-third {
  position: relative;
  top: -223px;
  max-width: 1920px;
  width: 100%;
  height: 1426px;
  background-image: url("../../assets/png/BG (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  img:nth-child(2) {
    width: 100%;
  }
  img:nth-child(3) {
    margin-top: 50px;
    width: 100%;
  }
  img:nth-child(4) {
    margin-top: 50px;
    width: 100%;
  }
  img:nth-child(5) {
    margin-top: 50px;
    width: 100%;
  }
}
.third-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  img {
    width: 70%;
  }
}
.horizontal {
  background-image: url("../../assets/png/BG (3).png");
  max-width: 1920px;
  width: 100%;
  height: 1080px;
  margin-top: -223px;
}
.vertical {
  background-image: url("../../assets/png/BG\ \(9\).png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 1817px;
  margin-top: -223px;
}
.home-fifth {
  position: relative;
  width: 100%;
  background-image: url("../../assets/png/BG (4).png");
  max-width: 1920px;
  height: 3000px;
  position: relative;
  margin-top: -130px;
  h2 {
    font-family: "SVN-Gotham Rounded";
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
  }
}
.fifth-header {
  @extend .third-header;
  img {
    width: 50%;
  }
}
.fifth-body-first {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
  width: 100%;
}
.bear-cards-container {
  width: 950px;
}
.fifth-body-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -300px;
  h2{
    position: relative;
    z-index: 5;
  }
}
.container {
  width: 50%;
  background: #fffdf6;
  box-shadow: 0px 6.22767px 16.6071px rgba(74, 58, 255, 0.19);
  border-radius: 25px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  img {
    width: 52px;
    height: 52px;
  }
}
.p-first {
  position: relative;

  padding: 20px;
  p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #170f49;
  }
  .p-left {
    width: 90%;
  }
  p:nth-child(2) {
    font-family: "SVN-Gotham Rounded";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6f6c90;
  }
}
.p-second,
.p-third,
.p-fourth {
  height: 80px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  p:first-child {
    width: 90%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #170f49;
  }
}
.arrow-container {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.down {
  position: absolute;
  top: 25px;
  right: 35px;
  opacity: 100;
  background-color: #251d75;
  width: 55px;
  height: 55px;
}
.arrow {
  position: absolute;
  top: 8px;
  right: 25px;
  font-size: 30px;
  transform: rotate(0deg);
  transition: 0.5s;
}
.arrow-down {
  position: absolute;
  transform: rotate(90deg);
  transition: 0.5s;
  color: white;
  font-size: 35px;
}
.card-none {
  display: none;
}
.right-bear {
  position: absolute;
  top: 450px;
  right: 0px;
  z-index: 1;
}
.home-sixth {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.vector-5 {
  position: absolute;
  right: 0px;
  bottom: 210px;
  z-index: 2;
}
.bear-gang {
  background-color: #da368b;
  width: 70%;
  height: 550px;
  margin-top: 0px;
  border-radius: 25px;
  position: relative;
  z-index: 0;
}
.bear-gang-in {
  width: 100%;
  height: 550px;
}
.bear-gang-title {
  position: absolute;
  left: 55px;
  top: 120px;
  width: 60%;
}
.own-button {
  position: absolute;
  width: 200px;
  height: 60px;
  background: #f6e34d;
  border: none;
  border-radius: 43.75px;
  font-family: "SVN-Gotham Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 17.1196px;
  line-height: 27px;
  left: 55px;
  top: 405px;
  cursor: pointer;
}
.pong-pay {
  position: absolute;
  right: 150px;
  bottom: 190px;
  width: 719px;
  z-index: 1;
}
footer {
  width: 100%;
  height: 209px;
  background-color: #3b2472;
  box-shadow: 0px -2px 10.5px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: "SVN-Gotham Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140.62%;
  color: #ffffc5;
  z-index: 3;
}
.footer-first {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 224px;
    height: 67.2px;
  }
}
.footer-first-left,
.footer-first-right {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
.footer-divider {
  width: 70%;
}
.footer-second {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 1746px) {
  .animated-bears {
    top: -300px;
  }
  .pong-pay {
    right: 25px;
  }
  @media (max-width: 1533px) {
    .animated-bears {
      top: -200px;
    }
    .right-bear {
      top: 650px;
      width: 450px;
    }
    .who-are-we-container {
      h2 {
        font-size: 70px;
      }
    }
    .bear-gang {
      height: 450px;
      margin-top: 250px;
    }
    .bear-gang-in {
      height: 450px;
    }
    .own-button {
      top: 335px;
    }
    .pong-pay {
      width: 600px;
      right: 25px;
    }
    @media (max-width: 1393px) {
      .animated-bears {
        top: -100px;
      }
    }
    @media (max-width: 1257px) {
      .animated-bears {
        top: -10px;
      }
      .arrow-container{
        right: 5px;
      }
      .down{
        right: 5px;
        width: 45px;
        height: 45px;
      }
      .arrow{
        right: 5px;
      }
      .home-fifth {
        height: 2900px;
      }
      .bear-gang {
        height: 400px;
        margin-top: 80px;
      }
      .bear-gang-in {
        height: 400px;
      }
      .own-button {
        top: 285px;
      }
      .pong-pay {
        width: 500px;
      }
      .vector-5 {
        width: 50%;
      }
      @media (max-width: 1177px) {
        .animated-bears {
          top: 50px;
        }
        .second-planet-left {
          width: 200px;
        }
        .footer-first {
          img {
            width: 150px;
            height: auto;
          }
          p {
            font-size: 12px;
          }
        }
        .pong-pay {
          right: 20px;
        }
        @media (max-width: 1100px) {
          .home-second {
            background-image: url("../../assets/png/tablet.png");
            background-size: cover;
          }
          .home-third {
            height: 1200px;
          }
          .home-fifth {
            background-image: url("../../assets/png/BG (12).png");
            background-size: cover;
            padding-top: 190px;
          }

          @media (max-width: 1000px) {
            .animated-bears {
              top: 90px;
            }
            .second-body-container {
              width: 90%;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
            }
            .second-body-left {
              width: 80%;
            }
            .second-body-right {
              width: 80%;
            }
            .second-planet-right {
              width: 150px;
            }

            .right-bear {
              top: 850px;
            }
            .container {
              width: 75%;
            }
            .home-fifth {
              height: 2800px;
            }
            .fifth-header {
              img {
                margin-top: 100px;
              }
            }
            .bear-gang {
              height: 350px;
              margin-top: 0px;
            }
            .bear-gang-in {
              height: 350px;
            }
            .bear-gang-title {
              top: 100px;
            }
            .own-button {
              top: 265px;
            }
            .pong-pay {
              width: 400px;
              right: 85px;
            }
          }
          @media (max-width: 960px) {
            header {
              margin-top: 150px;
            }
            .scroll-icon-container {
              margin-top: 50px;
              img {
                width: 25px;
              }
              p {
                font-size: 12px;
              }
            }
            .home-fifth {
              height: 3200px;
            }
            .animated-bears {
              top: 0px;
            }
            .bear-cards-container {
              width: 600px;
            }
            .bear-gang {
              margin-top: 80px;
            }
            .pong-pay {
              right: 0px;
            }
 .right-bear {
              top: 1250px;
            }
            @media (max-width: 860px) {
              header {
                margin-top: 200px;
                h6 {
                  font-size: 35px;
                }
              }
              .second-planet-right {
                width: 100px;
              }
              .animated-bears {
                top: -20px;
              }
              .who-are-we-container {
                h2 {
                  font-size: 35px;
                }
                p {
                  font-size: 15px;
                }
              }
              .right-bear {
                width: 300px;
                top: 1450px;
              }
              .p-first {
                p:first-child {
                  font-size: 20px;
                }
                p:nth-child(2) {
                  font-size: 15px;
                }
              }
              .p-second,
              .p-third,
              .p-fourth {
                font-size: 2px;
                p:first-child {
                  font-size: 20px;
                }
              }
              .pong-pay {
                right: 0px;
                width: 350px;
              }
              .bear-gang {
                width: 600px;
              }
              .own-button {
                top: 235px;
              }
              .footer-first-left,
              .footer-first-right {
                width: 30%;
              }
              @media (max-width: 680px) {
                .animated-bears {
                  top: 30px;
                }
                .home-second {
                  background-image: url("../../assets/png/mobile.png");
                }
                .home-third {
                  height: 850px;
                }
                .right-bear {
                  top: 410px;
                  width: 250px;
                }

                .home-fifth {
                  height: 2180px;
                  background-image: url("../../assets/png/BG (12).png");
                  background-size: cover;
                  padding-top: 0px;
                }
                .fifth-body-second {
                  margin-top: -250px;
                  h2 {
                    font-size: 80px;
                  }
                }
                .pong-pay {
                  width: 300px;
                  right: 0px;
                }
                .bear-gang {
                  margin-top: 90px;
                  width: 450px;
                  height: 280px;
                }
                .bear-gang-in {
                  height: 280px;
                }
                .bear-gang-title {
                  top: 80px;
                }
                .own-button {
                  top: 180px;
                }
                .bear-cards-container {
                  img {
                    padding: 20px;
                  }
                }
                .footer-first {
                  img {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    top: -35px;
                  }
                }
                .footer-first-left,
                .footer-first-right {
                  width: 40%;
                }

                @media (max-width: 560px) {
                  .animated-bears {
                    top: 95px;
                  }
                  .first-planet-left {
                    width: 100px;
                  }
                  .first-planet-right {
                    width: 100px;
                    top: 590px;
                  }
                  .scroll-icon-container {
                    img {
                      width: 20px;
                    }
                    p {
                      font-size: 10px;
                    }
                  }
                  .pong-pay {
                    width: 280px;
                    right: 0px;
                  }
                  .bear-gang {
                    height: 280px;
                  }
.right-bear{
  top: 350px;
}
                  @media (max-width: 480px) {
                    header {
                      margin-top: 270px;
                      h6 {
                        font-size: 35px;
                      }
                    }
                    .scroll-icon-container {
                      img {
                        width: 15px;
                      }
                    }
                    .animated-bears {
                      top: 150px;
                    }
                    .second-body-right {
                      margin-top: -50px;
                    }
                 
                    .bear-gang {
                      width: 90%;
                      height: 200px;
                      margin-top: 220px;
                    }
                    .bear-gang-in {
                      height: 200px;
                    }
                    .bear-gang-title {
                      top: 50px;
                    }
                    .own-button {
                      top: 125px;
                      width: 40%;
                      font-size: 12px;
                      height: 30px;
                    }
                    .pong-pay {
                      width: 200px;
                      right: 0px;
                    }
                    .footer-first-left,
                    .footer-first-right {
                      width: 47%;
                    }
                    .logo-container {
                      justify-content: center;
                      img {
                        width: 40px;
                        margin: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
