.menu-container {
  background-image: url("../../assets/png/BG\ \(5\).png");
  width: 600px;
  height: 1200px;
  position: absolute;
  right: 0;
  z-index: 5;
  transform-origin: right;
  transform: scaleX(1);
  transition: .5s;
}
.none {
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: .5s;
}
