.menu-container {
  background-image: url("../../assets/png/BG\ \(5\).png");
  width: 600px;
  height: 1200px;
  position: relative;
  right: 0;
  transform: scaleX(1);
  transition: 0.5s;
  transform-origin: right;
position: absolute;
}
.menu-none {
  position: absolute;
    background-image: url("../../assets/png/BG\ \(5\).png");
  right: 0px;
  transform: translate(60px 50px);
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: right;
}

.menu-mute {
    position: relative;
  width: 57px;
  height: 34px;
  left: 411px;
  top: 55px;
}
.menu-close {
        position: relative;

  width: 50px;
  height: 30px;
  left: 430px;
  top: 53px;
}
.menu-links {
        position: relative;

  width: 454px;
  height: 539px;
  left: 75px;
  top: 270px;

  font-family: "SVN-Gotham Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 77px;
  display: flex;
  flex-direction: column;
  color: white;
  p:first-child {
    width: 200px;
    background-color: yellow;
    border-radius: 35px;
    color: black;
    text-align: center;
    font-weight: 800;
  }
  p {
    margin: 0px;
  }
}
.menu-logo {
        position: relative;

  bottom: -350px;
  left: 80px;
}
