.menu-container {
  background-image: url("../../assets/png/BG\ \(5\).png");
  width: 600px;
  height: 1200px;
  position: absolute;
  right: 0;
  z-index: 5;
  transform-origin:right;
  transform: scaleX(1);
  transition: 0.5s;
}
.menu-none {
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
}

.menu-mute {
  position: absolute;
  width: 57px;
  height: 34px;
  left: 411px;
  top: 55px;
}
.menu-close {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 483px;
  top: 57px;
}
