.bear-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 950px;
  img {
    padding: 50px;
  }
}
.bear-cards-swiper{
    width: 50% !important;
}
.bearCards-slide{
    width: 50%;
}