.horizontal-container {
  position: relative;
  margin-top: -223px;
  max-width: 1920px;
  height: 1110px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: auto;
}
.frame {
  position: relative;
// transform: translate(-1250px);
}
