.horizontal-container {
  position: relative;
  max-width: 1920px;
  height: 950px;
  display: flex;
}
.horizontal-background {
  background-image: url("../../assets/png/BG\ \(6\).png");
  background-size: cover;
  max-width: 6858px;
  height: 900px;

}
.journey {
  position: absolute;
  width: 685px;
  height: 420px;
  left: 300px;
  top: 300px;
}
.spaceship {
  position: absolute;
  width: 202px;
  left: 1272px;
  top: 450px;
  z-index: 4;
}
.line {
  position: absolute;
  width: 5539px;
  height: 60px;
  left: 1316px;
  top: 550px;
}
.endLine {
  position: absolute;
  width: 247px;
  height: 950px;
  right: -5000px;
  top: 0px;
}
.component1 {
  position: absolute;
  width: 556px;
  left: 1970px;
  bottom: 30px;
}
.component2 {
  position: absolute;
  width: 576px;
  left: 4180px;
  bottom: 55px;
}
.component3 {
  position: absolute;
  width: 576px;
  left: 5260px;
  top: 100px;
}
.component4 {
  position: absolute;
  width: 576px;
  left: 3120px;
  top: 100px;
}
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// .wrapper {
//     display: block;
//     width: 100%;
//     height: auto;
//     margin-top: -33%;
//     overflow-x: hidden;
//     position: relative;
//     overflow: hidden;
// }

// .journey_Bg {
//     height: 100vh;
// }

// .journey_map {
//     width: 100%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .journe {
//     width: 74%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .container {
//     width: 177vw;
//     height: 100vh;
//     position: absolute;
//     top: 50%;
//     left: 160%;
//     transform: translate(-19%, -50%);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .first_block {
//     height: 40vh;
// }

// .component4 {
//     height: 40vh;
//     position: absolute;
//     top: 3%;
//     left: 23%;
// }

// .component3 {
//     height: 40vh;
//     position: absolute;
//     top: 3%;
//     left: 71%;
// }

// .line {
//     position: relative;
//     display: flex;
//     align-items: center;
//     margin-left: 5%;
//     height: 15vh;
//     z-index: 1;
// }

// .ship {
//     transition: 1s;
//     position: absolute;
//     left: 5%;
// }

// .second_block {
//     height: 40vh;
// }

// .component1 {
//     height: 40vh;
//     position: absolute;
//     top: 50%;
//     left: -6%;
// }

// .component2 {
//     height: 40vh;
//     position: absolute;
//     top: 50%;
//     left: 51%;
// }

// .eclipse {
//     position: absolute;
//     right: -2%;
//     height: auto;
// }

// .wrapperSecond {
//     display: none;
//     width: 100%;
//     height: 300vh;
//     position: relative;
//     margin-top: -33%;
// }

// .journeySecondBg {
//     width: 100%;
//     object-fit: cover;
//     height: -webkit-fill-available;
// }

// .bigBlock {
//     width: 100%;
//     height: 300vh;
//     margin-top: 10%;
// }

// .journeyText {
//     background: rgb(40, 33, 115);
//     background: linear-gradient(172deg, rgba(40, 33, 115, 1) 0%, rgba(41, 34, 116, 1) 100%);
//     border-radius: 20%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     z-index: 5;
//     transform: translate(10%, 0);
// }

// .journey_text {

//     width: 80%;
// }

// .secondContainer {
//     width: 100%;
//     height: auto;
//     position: absolute;
//     top: 15%;
// }

// .sceondShip {
//     width: 20%;
// }

// .SecondLine {
//     display: grid;
//     justify-items: center;
//     position: fixed;
//     top: 25%;
//     left: 38%;
//     z-index: 1;
//     transition: 1s;
// }

// .linear {
//     width: 100%;
//     transform: rotate(90deg);
//     margin-top: 66%;
// }

// .lineImg {
//     width: 230vh;
// }

// .lineComponents {
//     width: 100%;
//     height: 200vh;
//     margin-top: -190%;
//     display: flex;
// }

// .leftComponents {
//     width: 50%;
//     height: 200vh;
//     display: grid;
//     justify-items: center;
// }

// .rightComponents {
//     width: 50%;
//     height: 200vh;
//     display: grid;
//     justify-items: center;
//     align-content: space-evenly;
// }

// .rearEclipse {
//     width: 100%;
//     height: 20vh;
//     margin-top: 10vh;
//     position: relative;
//     z-index: 44;
// }

// @media screen and (max-width:1800px) {
//     .journey_Bg {
//         width: 336vw;
//         height: auto;
//         object-fit: cover;
//     }

//     .wrapper {
//         margin-top: -32%;
//     }

//     .eclipse {
//         right: -8%;
//     }

//     .component3 {
//         left: 75%;
//     }

//     .line {
//         margin-left: 35%;
//     }
// }

// @media screen and (max-width:1700px) {
//     .eclipse {
//         right: -15%;
//     }

//     .journey_Bg {
//         width: 344vw;
//     }

//     .wrapper {
//         margin-top: -34%;
//     }
// }

// @media screen and (max-width:1600px) {
//     .eclipse {
//         right: -23%;
//     }

//     .wrapper {
//         margin-top: -33%;
//     }
// }

// @media screen and (max-width:1500px) {
//     .journey_Bg {
//         width: 360vw;
//     }

//     .eclipse {
//         right: -32%;
//     }

//     .wrapper {
//         margin-top: -32%;
//     }
// }

// @media screen and (max-width:1440px) {
//     .eclipse {
//         right: -39%;
//     }

//     .wrapper {}

// }

// @media screen and (max-width:1400px) {
//     .journey_Bg {
//         width: 377vw;
//     }

//     .eclipse {
//         right: -43%;
//     }

//     .wrapper {
//         margin-top: -31%;
//     }
// }

// @media screen and (max-width:1300px) {
//     .journey_Bg {
//         width: 400vw;
//     }

//     .eclipse {
//         right: -55%;
//     }

//     .wrapper {
//         margin-top: -33%;
//     }

//     .line {
//         margin-left: 74%;
//     }
// }

// @media screen and (max-width:1200px) {
//     .journey_Bg {
//         width: 425vw;
//     }

//     .eclipse {
//         right: -69%;
//     }

//     .wrapper {
//         margin-top: -36%;
//     }
// }

// @media screen and (max-width:1100px) {

//     .wrapper {
//         display: none;
//     }

//     .wrapperSecond {
//         display: block;
//     }
// }

// @media screen and (max-width:1000px) {
//     .wrapperSecond {
//         margin-top: -30%;
//     }

//     .rearEclipse {
//         margin-top: -5%;
//     }

//     .SecondLine {
//         left: 37%;
//     }
// }

// @media screen and (max-width:900px) {
//     .rearEclipse {
//         margin-top: -25%;
//     }

//     .wrapperSecond {
//         margin-top: -33%;
//     }

//     .SecondLine {
//         left: 35.5%;
//     }
// }

// @media screen and (max-width:800px) {
//     .wrapperSecond {
//         margin-top: -37%;
//     }

//     .SecondLine {
//         left: 34%;
//     }

//     .lineComponents {
//         margin-top: -260%;
//     }
// }

// @media screen and (max-width:700px) {
//     .wrapperSecond {
//         margin-top: -35%;
//     }

//     .journeyText {
//         background: none;
//     }

//     .SecondLine {
//         position: initial;
//         margin-top: -16%;
//     }
//     .SecondLine img{
//         width: 20%;
//     }
//     .leftComponents{
//         width: auto;
//     }
//     .rightComponents{
//         width: auto;
//     }
//     .lineComponents{
//         display: flex;
//         flex-direction: column;
//         position: relative;
//         margin-top: -313%;
//     }
//     .rearEclipse{
//         margin-top: -3%;
//     }
// }

// @media screen and (max-width:600px) {
//     .wrapperSecond{
//         margin-top: -42%;
//     }
//     .lineComponents{
//         margin-top: -360%;
//     }
//     .rearEclipse{
//         margin-top: 3%;
//     }
// }

// @media screen and (max-width:500px) {
//     .rearEclipse{
//         margin-top: 16%;
//     }
//     .lineComponents{
//         margin-top: -430%;
//     }
// }
