.nav-container {
  display: flex;
  justify-content: space-around;
  padding-top: 59px;
  position: relative;
  z-index: 2;
}
.nav-home {
  height: 45px;
  width: 43px;
}
.nav-bear-logo {
  width: 210px;
  height: 60px;
}
.nav-menu {
  height: 31px;
  width: 41px;
  cursor: pointer;
}
