.bear-background {
  width: 60%;
  height: 550px;
  background-image: url("../../assets/png/Rectangle\ 4475.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.bear-swiper {
  position: relative;
  width: 120%;
  height: 950px;
  top: -170px;
  left: -50px;
}
.bear-slide {
  width: 120%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yellow {
  width: 95%;
  position: relative;
  bottom: -65px;
}
.green {
  width: 140%;
  height: auto;
  position: relative;
  bottom: -65px;
}
.blue {
  width: 110%;
  position: relative;
  bottom: -100px;
}
.pink {
  width: 120%;
  height: 956;
  position: relative;
  bottom: -65px;
}
.purple {
  @extend .pink;
}
.swiper-button-prev {
  background-image: url("../../assets/png/Polygon\ 1.png") !important;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: #f3eb4e00;
}
.swiper-button-next {
  background-image: url("../../assets/png/Polygon\ 2.png") !important;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: #f3eb4e00 !important;
}
.bear-info {
  font-family: "SVN-Gotham Rounded";
  font-style: normal;
  width: 60%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  top: 100px;
  span {
    display: block;
    font-weight: 100;
    font-size: 20px;
  }
}

@media (max-width: 1746px) {
  .bear-swiper {
    top: -200px;
  }

  @media (max-width: 1450px) {
    .bear-swiper {
      top: -220px;
      left: -45px;
    }
    @media (max-width: 1250px) {
      .bear-swiper {
        top: -240px;
        left: -35px;
      }
      @media (max-width: 1190px) {
        .bear-swiper {
          top: -270px;
          left: -35px;
        }
        .bear-info {
          font-size: 30px;
        }
        @media (max-width: 1000px) {
          .bear-swiper {
            top: -230px;
            left: -45px;
          }
          @media (max-width: 900px) {
            .bear-swiper {
              top: -250px;
              left: -35px;
            }
            @media (max-width: 750px) {
              .bear-swiper {
                top: -290px;
                left: -32px;
                img {
                  bottom: -160px;
                  left: -10px;
                }
              }
              #blueb {
                bottom: -180px;
              }
              #purpleb {
                bottom: -140px;
                left: -5px;
              }
              .bear-info {
                top: 200px;
              }
              .bear-slide {
                height: 600px;
              }
              @media (max-width: 677px) {
                 .bear-swiper {
                top: -320px;
                left: -32px;
                img{
                  left: -5px;
                }
                 }
                .bear-info {
                  font-size: 20px;
                  span {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
