.bear-background {
  width: 450px;
  height: 550px;
  background-image: url("../../assets/png/Rectangle\ 4475.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.bear-swiper {
  position: relative;
  width: 540px;
  height: 950px;
  top: -195px;
  left: -50px;
}
.bear-slide {
  width: 640px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yellow {
  width: 95%;
  position: relative;
  bottom: -65px;
}
.green {
  width: 140%;
  height: auto;
  position: relative;
  bottom: -65px;
}
.blue {
  width: 110%;
  position: relative;
  bottom: -100px;
}
.pink {
  width: 120%;
  height: 956;
  position: relative;
  bottom: -65px;
}
.purple {
  @extend .pink;
}
.swiper-button-prev {
  background-image: url("../../assets/png/Polygon\ 1.png") !important;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: #f3eb4e00;
}
.swiper-button-next {
  background-image: url("../../assets/png/Polygon\ 2.png") !important;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: #f3eb4e00 !important;
}
.bear-info {
  font-family: "SVN-Gotham Rounded";
  font-style: normal;
  width: 60%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  top: 100px;
  span {
    display: block;
    font-weight: 100;
    font-size: 20px;
  }
}

@media (max-width: 1325px) {
  .bear-background {
    width: 350px;
  }
  .bear-swiper {
    width: 450px;
    top: -225px;
  }
  .yellow {
    width: 85%;
  }
  .green {
    width: 126%;
  }
  .blue {
    width: 92%;
  }
  .pink {
    width: 107%;
  }

 
      @media (max-width: 1000px) {
  .bear-swiper{
    top: -265px;
  }
        .bear-info {
          font-size: 20px;
          span {
            font-size: 15px;
          }
        }
        @media (max-width: 400px) {
           .bear-background {
    width: 250px;
  }
          .bear-swiper {
            width: 350px;
                top: -315px;

          }
        }
      }
    }
  

